<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Registration</title>
    <link href="/static/img/favicon.png" rel="icon">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
         body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            padding-top: 60px;
        }

        .navbar {
            background-color: #a55850;
            color: white;
        }

        .navbar-brand {
            color: white;
        }

        .navbar-nav .nav-link {
            color: white;
        }

        .form-section {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            padding: 20px;
			width: 60%; /* Set the width of the form */
        }

        .form-section h2 {
            text-align: center;
            margin-bottom: 30px;
            padding-bottom: 10px;
        }

        .container {
            max-width: 450px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            border-radius: 5px;
        }

        .btn-primary {
            background-color: #a55850;
            border: none;
        }

        .btn-primary:hover {
            background-color: #a55850;
        }
        .center-btn {
            text-align: center;
        }
    </style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#personal-info">Personal Information</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#business-info">Business Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#legal-info">Legal Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#banking-info">Banking Information</a>
                </li>
            </ul>
        </div>
        <!-- Right-aligned links -->
        <div class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Signin</a>
            </li>
        </div>
    </nav>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-section" id="personal-info">
            <h2>Personal Information</h2>
            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="text" class="form-control" id="firstname" name="firstname" required><br>
                <span id="firstname-error" style="color: red;"></span>
            </div>

            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="text" class="form-control" id="lastname" name="lastname" required><br>
                <span id="lastname-error" style="color: red;"></span>   
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" readonly><br>
            </div>

            <div class="form-group">
                <label for="username">PAN Number:</label>
                <input type="text" class="form-control" id="panNumber" name="panNumber" required><br>
                <span id="panNumber-error" style="color: red;"></span>
            </div>
        </div>

        <div class="form-section" id="business-info">
		 <h2>Business Information</h2>
         <div class="form-group">
            <label for="brandName">Business Name:</label>
            <input type="text" class="form-control" id="brandName" name="brandName" required> <br>
            <span id="brandName-error" style="color: red;"></span>
        </div>

        <div class="form-group">
            <label for="businessAddress">Address:</label>
            <input type="text" class="form-control" id="businessAddress" name="businessAddress" required> <br>
            <span id="businessAddress-error" style="color: red;"></span>
        </div>
        <div class="form-group">
            <label for="pincode">Pincode:</label>
			<input type="text" class="form-control" id="pincode" name="pincode" required> <br>
            <span id="pincode-error" style="color: red;"></span>
        </div>     
        <div class="form-group">
            <label for="city">City:</label>
			<input type="text" class="form-control" id="city" name="city" required> <br>
            <span id="city-error" style="color: red;"></span>
        </div>

        <div class="form-group">
            <label for="district">District:</label>
			<input type="text" class="form-control" id="district" name="district" required> <br>
            <span id="district-error" style="color: red;"></span>
        </div>
        <div class="form-group">
            <label for="state">State:</label>
			<input type="text" class="form-control" id="state" name="state" required> <br>
            <span id="state-error" style="color: red;"></span>
        </div>
        <div class="form-group">
			<label for="businessPhone">Business Phone Number:</label>
			<input type="tel" class="form-control" id="businessPhone" name="businessPhone" required><br>
            <span id="businessPhone-error" style="color: red;"></span>
        </div>
        </div>

        <div class="form-section" id="legal-info">
		<h2>Legal Information</h2>
        <div class="form-group">
            <label for="businessRegistrationNumber">Business License Number:</label>
			<input type="text" class="form-control" id="businessRegistrationNumber" name="businessRegistrationNumber" required><br>
            <span id="businessRegistrationNumber-error" style="color: red;"></span>
        </div>
        <div class="form-group">
			<label for="vatNumber">GST Number:</label>
			<input type="text" class="form-control"  id="vatNumber" name="vatNumber" required><br>
            <span id="vatNumber-error" style="color: red;"></span>
        </div>
        <div class="form-group">
			<label for="certificatePdf">Lincense Certificate(as pdf) </label>
			<input type="file" class="form-control-file" id="certificatePdf" name="certificatePdf" accept=".pdf" required><br>
            <span id="certificatePdf-error" style="color: red;"></span>
        </div>

        </div>

        <div class="form-section" id="banking-info">
		<h2>Banking Information</h2>
            <div class="form-group">
                <label for="bankAccountNumber">Bank Account Number:</label>
                <input type="text" class="form-control" id="bankAccountNumber" name="bankAccountNumber" required><br>
                <span id="bankAccountNumber-error" style="color: red;"></span>
            </div>
            <div class="form-group">
                <label for="bankName">Bank Name:</label>
                <input type="text" class="form-control" id="bankName" name="bankName" required><br>
                <span id="bankName-error" style="color: red;"></span>
            </div>
            <div class="form-group">
                <label for="ifscCode">IFSC Code:</label>
                <input type="text" class="form-control" id="ifscCode" name="ifscCode" required><br>
                <span id="ifscCode-error" style="color: red;"></span>
            </div>
        </div>

        <!-- Single checkbox form for terms & conditions -->
        <div class="form-section">
            <!-- Icon for showing rules and licenses -->
    <a href="#" class="float-right mt-2 mr-2">
        <i class="fas fa-info-circle"></i> <!-- Assuming you're using Font Awesome for icons -->
    </a>
         <div class="form-group form-check">
			<input type="checkbox" class="form-check-input" id="approvalCheck" name="approvalCheck" required>
			<label class="form-check-label" for="approvalCheck"> I understand that submitting false information may lead to rejection of my application.</label>
			</div>
	     <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </div>
    </form>


    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


 <!-- validation for firstname -->
<script>
    document.getElementById('firstname').addEventListener('input', function() {
        var firstnameInput = this.value.trim();
        var firstnameError = document.getElementById('firstname-error');
        
        if (!/^[a-zA-Z]+$/.test(firstnameInput)) {
            firstnameError.textContent = "First Name should contain only letters.";
        } else {
            firstnameError.textContent = ""; // Clear error message if input is valid
        }
    });

    // Function to clear error message when the input field is focused
    document.getElementById('firstname').addEventListener('focus', function() {
        var firstnameError = document.getElementById('firstname-error');
        firstnameError.textContent = ""; // Clear error message when the input field is focused
    });
</script>

<!-- lastname validation -->
<script>
    document.getElementById('lastname').addEventListener('input', function() {
        var lastnameInput = this.value.trim();
        var lastnameError = document.getElementById('lastname-error');
        
        if (!/^[a-zA-Z]+$/.test(lastnameInput)) {
            lastnameError.textContent = "Last Name should contain only letters.";
        } else {
            lastnameError.textContent = "";
        }
    });
    // Function to clear error message when the input field is focused
    document.getElementById('lastname').addEventListener('focus', function() {
        var firstnameError = document.getElementById('lastname-error');
        firstnameError.textContent = ""; // Clear error message when the input field is focused
    });
</script>

<!-- pan number -->
<script>
    document.getElementById('panNumber').addEventListener('input', function() {
        var panNumberInput = this.value.trim();
        var panNumberError = document.getElementById('panNumber-error');
        
        if (!/^[a-zA-Z0-9]{1}[a-zA-Z0-9]{9}$/.test(panNumberInput)) {
            panNumberError.textContent = "PAN Number should start with an alphabet, followed by a combination of alphabets and numbers, maximum 10 characters, no special characters or spaces allowed.";
        } else {
            panNumberError.textContent = ""; // Clear error message if input is valid
        }
    });

    // Function to clear error message when the input field is focused
    document.getElementById('panNumber').addEventListener('focus', function() {
        var panNumberError = document.getElementById('panNumber-error');
        panNumberError.textContent = ""; // Clear error message when the input field is focused
    });
</script>

<!-- businessName -->
<script>
    document.getElementById('brandName').addEventListener('input', function() {
        var brandNameInput = this.value.trim();
        var brandNameError = document.getElementById('brandName-error');
        
        if (!/^[^\s].*$/.test(brandNameInput)) {
            brandNameError.textContent = "Business Name should not start with a space.";
        } else {
            brandNameError.textContent = ""; // Clear error message if input is valid
        }
    });

    // Function to clear error message when the input field is focused
    document.getElementById('brandName').addEventListener('focus', function() {
        var brandNameError = document.getElementById('brandName-error');
        brandNameError.textContent = ""; // Clear error message when the input field is focused
    });
</script>

<!-- businessAddress -->
<script>
    document.getElementById('businessAddress').addEventListener('input', function() {
        var businessAddressInput = this.value.trim();
        var businessAddressError = document.getElementById('businessAddress-error');
        
        if (!/^[^\s].*$/.test(businessAddressInput)) {
            businessAddressError.textContent = "Address should not start with a space.";
        } else {
            businessAddressError.textContent = ""; // Clear error message if input is valid
        }
    });

    // Function to clear error message when the input field is focused
    document.getElementById('businessAddress').addEventListener('focus', function() {
        var businessAddressError = document.getElementById('businessAddress-error');
        businessAddressError.textContent = ""; // Clear error message when the input field is focused
    });
</script>

<!-- Phone Number -->
<script>
    document.getElementById('businessPhone').addEventListener('input', function() {
        var businessPhoneInput = this.value.trim();
        var businessPhoneError = document.getElementById('businessPhone-error');
        
        // Check if phone number is exactly 10 digits
        if (!/^\d{10}$/.test(businessPhoneInput)) {
            businessPhoneError.textContent = "Phone number should be 10 digits long.";
        } else if (/(\d)\1{9}/.test(businessPhoneInput)) {
            businessPhoneError.textContent = "Phone number cannot have the same digit repeated 10 times.";
        } else {
            businessPhoneError.textContent = ""; // Clear error message if input is valid
        }
    });

    // Function to clear error message when the input field is focused
    document.getElementById('businessPhone').addEventListener('focus', function() {
        var businessPhoneError = document.getElementById('businessPhone-error');
        businessPhoneError.textContent = ""; // Clear error message when the input field is focused
    });
</script>

<!-- pincode -->
<script>
    document.getElementById('pincode').addEventListener('input', function() {
        var pincodeInput = this.value.trim();
        var pincodeError = document.getElementById('pincode-error');
        
        // Check if pincode consists of exactly 6 digits
        if (!/^\d{6}$/.test(pincodeInput)) {
            pincodeError.textContent = "Pincode should consist of exactly 6 digits.";
        } else {
            pincodeError.textContent = ""; // Clear error message if input is valid
        }
    });

    // Function to clear error message when the input field is focused
    document.getElementById('pincode').addEventListener('focus', function() {
        var pincodeError = document.getElementById('pincode-error');
        pincodeError.textContent = ""; // Clear error message when the input field is focused
    });
</script>

<!-- Bank Account Number -->
<script>
    document.getElementById('bankAccountNumber').addEventListener('input', function() {
        var bankAccountNumberInput = this.value.trim();
        var bankAccountNumberError = document.getElementById('bankAccountNumber-error');
        
        // Check if bank account number contains only alphabets and numbers
        if (!/^[a-zA-Z0-9]*$/.test(bankAccountNumberInput)) {
            bankAccountNumberError.textContent = "Bank account number should contain only alphabets and numbers.";
        } else {
            bankAccountNumberError.textContent = ""; // Clear error message if input is valid
        }
    });

    // Function to clear error message when the input field is focused
    document.getElementById('bankAccountNumber').addEventListener('focus', function() {
        var bankAccountNumberError = document.getElementById('bankAccountNumber-error');
        bankAccountNumberError.textContent = ""; // Clear error message when the input field is focused
    });
</script>

<!-- bank name -->
<script>
    document.getElementById('bankName').addEventListener('input', function() {
        var bankNameInput = this.value.trim();
        var bankNameError = document.getElementById('bankName-error');
        
        // Check if bank name contains only alphabets
        if (!/^[a-zA-Z\s]+$/.test(bankNameInput)) {
            bankNameError.textContent = "Bank name should contain only alphabets and spaces.";
        } else {
            bankNameError.textContent = ""; // Clear error message if input is valid
        }
    });

    // Function to clear error message when the input field is focused
    document.getElementById('bankName').addEventListener('focus', function() {
        var bankNameError = document.getElementById('bankName-error');
        bankNameError.textContent = ""; // Clear error message when the input field is focused
    });
</script>

<!-- ifsc code -->
<script>
    document.getElementById('ifscCode').addEventListener('input', function() {
        var ifscCodeInput = this.value.trim();
        var ifscCodeError = document.getElementById('ifscCode-error');
        
        // Check if IFSC code contains only alphabets and digits
        if (!/^[a-zA-Z0-9]+$/.test(ifscCodeInput)) {
            ifscCodeError.textContent = "IFSC code should contain only alphabets and digits.";
        } else {
            ifscCodeError.textContent = ""; // Clear error message if input is valid
        }
    });

    // Function to clear error message when the input field is focused
    document.getElementById('ifscCode').addEventListener('focus', function() {
        var ifscCodeError = document.getElementById('ifscCode-error');
        ifscCodeError.textContent = ""; // Clear error message when the input field is focused
    });
</script>

<!-- pincode api functionality -->
<script>
    document.getElementById('pincode').addEventListener('input', function() {
        var pincode = this.value.trim();
        if (pincode.length === 6) {
            fetchPincodeDetails(pincode);
        }
    });

    function fetchPincodeDetails(pincode) {
        fetch(`/get_pincode_details/${pincode}/`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('city').value = data.city;
                    document.getElementById('district').value = data.district;
                    document.getElementById('state').value = data.state;
                } else {
                    // Handle error
                    console.error(data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>

</body>
</html>
