<!-- Display Product Details -->
<h2>{{ product.product_name }}</h2>
<p>Price: ${{ product.product_current_price }}</p>
<p>About Product: {{ product.product_about_product }}</p>
<p>Material: {{ product.product_material }}</p>
<p>Category: {{ product.category.category_name }}</p>

<!-- Display Product Images -->
<h3>Images</h3>
{% for image in product_images %}
    <img src="{{ image.image.url }}" alt="Product Image">
{% endfor %}

<!-- Display Available Sizes -->
<h3>Sizes</h3>
{% for size in sizes %}
    <p>{{ size.size_name }}</p>
{% endfor %}

<!-- Display Available Colors -->
<h3>Colors</h3>
{% for color in colors %}
    <p>{{ color.colour_name }}</p>
{% endfor %}
