<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Favicon -->
    <link href="/static/img/favicon.png" rel="icon">
</head>

<body style="background-color: #ffffff;">

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card shadow p-4" style="background-color: #ffffff;">
                    <h2 class="text-center mb-4" style="color: #941755;">Update Profile</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="profileImage" style="color: #941755;">Profile Image:</label>
                            <input type="file" class="form-control-file" id="profileImage" name="profileImage">
                        </div>
                        <div class="form-group">
                            <label for="firstName" style="color: #941755;">First Name:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" value="{{ user_profile.first_name }}" >
				        </div>
						<div class="form-group">
							<label for="lastName" style="color: #941755;">Last Name:</label>
							<input type="text" class="form-control" id="lastName" name="lastName" value="{{ user_profile.last_name }}">
                        </div>
                        <!-- Add similar form-group blocks for other fields -->
						 <div class="form-group">
							<label for="email" style="color: #941755;">Email Address:</label>
							<input type="email" class="form-control" id="email" name="email" value="{{ user_profile.email }}" disabled">
						</div>
						<!--<div class="form-group">
							<label for="altEmail" style="color: #941755;">Alternate Email Address:</label>
							<input type="email" class="form-control" id="altEmail" name="altEmail">
						</div>-->
						<div class="form-group">
							<label for="phoneNumber"style="color: #941755;">Phone Number:</label>
							<input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" value="{{ user_profile.phoneNumber }}">
						</div>
						<!--<div class="form-group">
							<label for="altPhoneNumber" style="color: #941755;">Alternate Phone Number:</label>
							<input type="tel" class="form-control" id="altPhoneNumber" name="altPhoneNumber">
						</div>-->
						<!--<div class="form-group">
							<label for="houseName" style="color: #941755;">House Name:</label>
							<input type="text" class="form-control" id="houseName" name="houseName">
						</div>
						<div class="form-group">
							<label for="buildingName" style="color: #941755;">Building Name:</label>
							<input type="text" class="form-control" id="buildingName" name="buildingName">
						</div>
						<div class="form-group">
							<label for="roadName" style="color: #941755;">Road Name/Area:</label>
							<input type="text" class="form-control" id="roadName" name="roadName">
						</div>
						<div class="form-group">
							<label for="pincode" style="color: #941755;">Pincode:</label>
							<input type="text" class="form-control" id="pincode" name="pincode" required>
						</div>
						<div class="form-group">
							<label for="city" style="color: #941755;">City:</label>
							<input type="text" class="form-control" id="city" name="city" required>
						</div>
                        <div class="form-group">
                            <label for="state" style="color: #941755;">State:</label>
                            <input type="text" class="form-control" id="state" name="state" required>
                        </div>-->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" style="background-color: #941755;">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
